---
import Layout from '../layouts/Layout.astro'
import { sanity } from '../lib/sanity'

const posts = await sanity.fetch(`*[_type == "post"] | order(publishedAt desc) {
  title,
  slug
}`)
---

<Layout title="Posts">
  <h1>Posts</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/posts/${post.slug.current}`}>{post.title}</a>
      </li>
    ))}
  </ul>
</Layout>
