---
import Grid from '~/components/blog/Grid.astro'
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro'
import { getRelatedPosts } from '~/utils/blog'
import type { Post } from '~/types'

export interface Props {
  post: Post
}

const { post } = Astro.props
const relatedPosts = post.tags ? await getRelatedPosts(post, 4) : []
---

{relatedPosts.length > 0 && (
  <WidgetWrapper>
    <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
      <div class="md:max-w-sm">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2">
          Related Posts
        </h2>
      </div>
    </div>
    <Grid posts={relatedPosts} />
  </WidgetWrapper>
)}
